<!-- _footer.njk -->
<footer>
	<div class="flex-container">
		<p>&copy; 2023&ndash;{% year %} Connie Huang</p>
		<p>Designed and developed by me!</p>
		{# <p>Website still under development 🚧</p> #}
	</div>
	<nav class="flex-container">
		<ul class="inline-list">
			<li><a href="/">Home</a></li>
			{# <li><a href="/blog/">Blog</a></li> #}
			<li><a href="/work/">Work</a></li>
			<li><a href="/contact/">Contact</a></li>
			<li><a href="/privacy/">Privacy</a></li>
		</ul>
	</nav>
</footer>