<!-- _header.njk -->
<header>
	<a href="/" class="flex-container">CChirpy</a>
	<nav class="flex-container">
		<ul class="inline-list">
			<li><a class="{{ 'active' if page.url === '/'}}" href="/">Home</a></li>
			{# <li><a class="{{ 'active' if '/blog' in page.url }}" href="/blog/">Blog</a></li> #}
			<li><a class="{{ 'active' if '/work' in page.url }}" href="/work/">Work</a></li>
			<li><a class="{{ 'active' if '/contact' in page.url }}" href="/contact/">Contact</a></li>
		</ul>
	</nav>
</header>