<!-- _meta.njk -->
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="{{ site.description }}"/>
		<meta name="keywords" content="{{ site.keywords }}"/>
		<meta name="author" content="{{ site.author }}"/>
		<title>{{ site.title }} &#183; {{ title }}</title>