<!DOCTYPE html>
<html lang="en">
	<!-- https://github.com/CChirpy/cchirpy.github.io -->

	<head>
		{% include '_scripts.njk' %}
		{% include '_meta.njk' %}
		
		<link rel="stylesheet" href="/assets/css/style.css"/>
		<link rel="stylesheet" href="/assets/css/card.css"/>
	</head>

	<body>
		{% include '_header.njk' %}

		<main>
			{{ content | safe }}
		</main>

		{% include '_footer.njk' %}
	</body>
</html>