<!DOCTYPE html>
<html lang="en">
	<head>
		{% include '_meta.njk' %}

		<link rel="stylesheet" href="/assets/css/style.css"/>
		<link rel="stylesheet" href="/assets/css/layout.css"/>
	</head>

	<body>
		{% include '_header.njk' %}

		<main>
			<h1>{{ title }}</h1>
			{{ content | safe }}

			<ul>
				{%- for post in collections.post -%}
					<li>{{ post.data.title }}
						<ul>
							<li>Date
								<ul>
									<li>{{ post.data.date.toLocaleDateString(en-US, {year: 'numeric', month: 'long', day: 'numeric'}) }}</li>
								</ul>
							</li>
							<li>Excerpt
								<ul>
									<li>{{ post.content | excerpt | safe }}</li>
									<li>
										<a href="{{ post.url }}">Read more →</a>
									</li>
								</ul>
							</li>
							<li>Tags
								<ul>
									{%- for tag in post.data.tags -%}
										{% if tag != 'post' %}
											<li>{{ tag }}</li>
										{% endif %}
									{%- endfor -%}
								</ul>
							</li>
						</ul>
					</li>
				{%- endfor -%}
			</ul>
		</main>

		{% include '_footer.njk' %}
	</body>
</html>