<!DOCTYPE html>
<html lang="en">
	<head>
		{% include '_meta.njk' %}

		<link rel="stylesheet" href="/assets/css/style.css"/>
		<link rel="stylesheet" href="/assets/css/layout.css"/>
	</head>

	<body>
		{% include '_header.njk' %}

		<main>
			<h1>{{ title }}</h1>
			{{ content | safe }}

			<ul>
				{%- for post in collections.post -%}
					<article>
						<li>
							<h2>{{ post.data.title }}</h2>
							<ul>
								<li>
									<span>Date</span>
									<ul>
										<li>
											<time>{{ post.data.date.toLocaleDateString(en-US, {year: 'numeric', month: 'long', day: 'numeric'}) }}</time>
										</li>
									</ul>
								</li>
								<li>
									<span>Image</span>
									<ul>
										<li><img src="{{ post.data.image }}"></li>
									</ul>
								</li>
								<li>
									<span>Excerpt</span>
									<ul>
										<li>{{ post.content | excerpt | safe }}</li>
										<li>
											<a href="{{ post.url }}">Read more →</a>
										</li>
									</ul>
								</li>
								<li>
									<span>Tags</span>
									<ul>
										{%- for tag in post.data.tags -%}
											{% if tag != 'post' %}
												<li>{{ tag }}</li>
											{% endif %}
										{%- endfor -%}
									</ul>
								</li>
							</ul>
						</li>
					</article>
				{%- endfor -%}
			</ul>
		</main>

		{% include '_footer.njk' %}
	</body>
</html>