<!DOCTYPE html>
<html lang="en">
	<head>
		{% include '_meta.njk' %}

		<link rel="stylesheet" href="/assets/css/style.css"/>
		<link rel="stylesheet" href="/assets/css/layout.css"/>
	</head>

	<body>
		{% include '_header.njk' %}

		<main>
			<h1>{{ title }}</h1>
			{{ content | safe }}
		</main>

		{% include '_footer.njk' %}
	</body>
</html>