<!DOCTYPE html>
<html lang="en">
	<head>
		{% include '_scripts.njk' %}
		{% include '_meta.njk' %}
	</head>

	<body>
		{% include '_header.njk' %}
		<!-- content -->
		<main>
			{{ content | safe }}
		</main>
		{% include '_footer.njk' %}
	</body>
</html>