<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="keywords" content="{{ site.keywords }}" />
    <meta name="author" content="{{ site.author }}" />
    <title>{{ site.title }} &#183; {{ title }}</title>

    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/layout.css" />
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/gallery/">Gallery</a></li>
          <li><a href="/community/">Community</a></li>
          <li><a href="/about/">About</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </main>

    <footer>
      <p>&copy; 2023 Connie Huang</p>
    </footer>
  </body>
</html>
