<!DOCTYPE html>
<html lang="en">
	<head>
		{% include '_meta.njk' %}
		{% include '_scripts.njk' %}
		
		<link rel="stylesheet" href="/assets/css/style.css"/>
	</head>

	<body>
		{% include '_header.njk' %}

		<main>
			{{ content | safe }}
		</main>

		{% include '_footer.njk' %}

		<script data-cfasync="false" type="text/javascript" src="/assets/js/form-submission-handler.js"></script>
	</body>
</html>