/* 
	Author: Connie Huang
	File: style.css
	Description: typography, colors, spacing
*/

/* ================== BASE ================== */

*,
*:before,
*:after {
	/* size accounts for border + padding */
	box-sizing: border-box;
}

html {
	/* root font */
	font-size: 16px;

	/* smooth scrolling */
	scroll-behavior: smooth;
}

body {
	/* fontstack + line spacing */
	font-family: monospace;
	line-height: 1.5;

	/* default colors */
	background-color: initial;
	color: initial;
}

body>* {
	/* pads all sections */
	padding: 3rem 15%;
}

/* ================== LINKS ================== */

a {
	color: inherit;
}

a:hover,
a:active {
	color: inherit;
}

/* =================== NAV =================== */

nav ul {
	/* remove indent + bulletpoint */
	padding: 0;
	list-style: none;
}

nav a {
	/* remove underline */
	text-decoration: none;

	/* button size */
	padding: 0.7rem 0.8rem;

	/* button color */
	background-color: inherit;
}

nav a:hover,
nav a:active,
nav .active {
	/* button changes on interact */
	background-color: inherit;
	text-decoration: underline;
}

/* ================ TYPOGRAPHY ================ */

