---
layout: default.njk
title: Error 404
permalink: "/404.html"
eleventyExcludeFromCollections: true
---

<h2>Page not found!</h2>
<p>
	Hi! You entered a link that was supposed direct you somewhere on this site, 
	but the url was most likely changed or typed incorrectly. 
	Please return to the <a href="/">homepage</a>. 
	I hope you find the page you were looking for!
</p>