---
layout: default.njk
title: Home
permalink: "/index.html"
---

<div class="profile">
	<div class="flex-container">
		<img src="https://cdn.discordapp.com/avatars/212002435357474817/fe6c98a425315fc40431eed2598cf0b8?size=1024" alt="profile picture" width="250">
		<div class="circle"></div>
	</div>
	<div class="flex-container">
		<h2>Connie Huang</h2>
		<p>Artist, Designer, Developer</p>
	</div>
	<div class="flex-container">
		<a href="https://www.linkedin.com/in/cxnniehuang/" target="_blank"><img src="/assets/img/linkedin.svg" alt="linkedin" width="25"></a>
		<a href="https://github.com/CChirpy" target="_blank"><img src="/assets/img/github.svg" alt="github" width="25"></a>
		<a href="https://twitter.com/CChirpy_" target="_blank"><img src="/assets/img/x.svg" alt="x" width="25"></a>
		<a href="https://ko-fi.com/cchirpy" target="_blank"><img src="/assets/img/kofi.svg" alt="ko-fi" width="25"></a>
		{# <a href="" target="_blank"><img src="/assets/img/discord.svg" alt="discord" width="25"></a> #}
	</div>
</div>