---
layout: default.njk
title: Privacy
permalink: "/{{ title | slugify }}/index.html"
---

<h1>Privacy Policy</h1>

<p>This privacy policy details how information is gathered, utilized, and shared from the website.</p>

<h2>Information Collection</h2>
<ul>
	<li>Name, email, and message through forms</li>
	<li>Usage data through Google Analytics</li>
</ul>

<h2>Collection Methods</h2>
<ul>
	<li>Through forms on this website</li>
	<li>Using Google Analytics</li>
</ul>

<h2>Purposes of Collection</h2>
<ul>
	<li>To improve website and services</li>
	<li>To understand user engagement</li>
</ul>

<h2>Third-Party Sharing</h2>
<ul>
	<li>No sharing of personal information with third parties</li>
	<li>Anonymous usage data collected by Google Analytics may be shared for any purpose</li>
</ul>

<h2>Security Measures</h2>
<ul>
	<li>Use of Google's security measures to protect personal information</li>
</ul>

<h2>Cookies and Tracking</h2>
<ul>
	<li>Use of Google Analytics cookies to track website engagement</li>
</ul>

<h2>User Rights</h2>
<ul>
	<li>You have the right to:</li>
	<ul>
		<li>Request access to your personal information</li>
		<li>Request rectification of your personal information</li>
	</ul>
	<li>If the requested information cannot be found, you will be informed accordingly</li>
</ul>

<h2>Contact Information</h2>
<ul>
	<li>For privacy concerns or requests, contact through the form on this website</li>
</ul>