---
layout: default.njk
title: Work
permalink: "/work/index.html"
---

<div class="gallery">
	{% for post in collections.work %}
		{% if loop.index0 < works | length %}
			<div class="flex-container">
				<img src="{{ post.content | preview | safe }}" alt="{{ works[loop.index0].name }}" width="250">
				<div>
					<h3>
						<a href="{{ post.url }}">{{ works[loop.index0].name }}</a>
					</h3>
					<p>{{ works[loop.index0].description }}</p>
					<ul class="inline-list tags">
						{% for tag in works[loop.index0].tags %}
							<li>{{ tag }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		{% endif %}
	{% endfor %}
</div>